/* RESET */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #17222D;
}

body, p, h1, h2, h3, ul , li {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Nunito', sans-serif;
}

/* GRID */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    display: block;
    min-height: 1px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.grid-1 {width: 70px;}
.grid-2 {width: 170px;}
.grid-3 {width: 270px;}
.grid-4 {width: 370px;}
.grid-5 {width: 470px;}
.grid-6 {width: 570px;}
.grid-7 {width: 670px;}
.grid-8 {width: 770px;}
.grid-9 {width: 870px;}
.grid-10 {width: 970px;}
.grid-11 {width: 1070px;}
.grid-12 {width: 1170px;}
.grid-1-3 {width: 370px;}

@media only screen and (min-width: 500px) and  (max-width: 768px) { 
    .container {
        max-width: 600px;
    }

    .grid-1 {width: 70px;}
    .grid-2 {width: 170px;}
    .grid-3 {width: 270px;}
    .grid-4 {width: 370px;}
    .grid-5 {width: 470px;}
    .grid-6 {width: 570px;}
    .grid-7 {width: 670px;}
    .grid-8 {width: 770px;}
    .grid-9 {width: 870px;}
    .grid-10 {width: 970px;}
    .grid-11 {width: 1070px;}
    .grid-12 {width: 1170px;}
    .grid-1-3 {width: 370px;}
 }

 /* HEADER */

 .header-info {
     width: 100%;
     background-color: #1188EE;
 }
 .header-info p {
     font-size: 14px;
     padding: 5px 0;
     color: rgba(255, 255, 255, 0.774);
 }

 header  {
     background-color: #112130;
     width: 100%;
 }

 .header-menu {
    display: flex;
    align-items: center;
    padding: 5px 0;
 }

 .header-menur,a {
     padding: 11px 0;
 }

 .header-menu nav {
    text-align: end;
 }

 .header-menu nav li {
     display: inline-block;
 }

 .header-menu nav li a {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125em;
    color: #fff;
    padding: 10px;
}

.header-menu nav li a::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 15px;
}

.header-menu nav li:last-child a::after {
    display: block;
    width: 100px;
    height: 2px;
    border: none;
    border-radius: 0;
    margin-left: 10px;
    background: #EE2211;
    position: absolute;
}

/* Intro */
.intro {
    padding: 260px 0 60px 0;
    background: url("../assets/bg-intro.jpg") no-repeat center center;
    background-size: cover;
}

.intro h1 {
    font-size: 64px;
    color: #fff;
    font-family: Alice, serif;
}

.intro form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.intro form label {
    display: none;
}

.intro form input {
    margin-left: auto;
    flex: 1;
    max-width: 285px;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 5px 5px rgba(23, 34, 45, 0.4);
}

.intro form button {
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #EE2211;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 5px 3px rgba(23, 34, 45, 0.4);
    font-size: 1.125em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.intro form button img {
    margin: 6px 0 0 10px;
    display: inline-block;
}

/* Praia */
/* Praia Info*/
.praia {
    padding: 60px 0;
}

.praia-info .mapa{
    position: relative;
    top: -60px;
    left: 15px;   
}

.praia-info h3 {
    font-size: 14px;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 15px;
}

.praia-info h3::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 2px solid #EE2211;
    border-radius: 50%;
}

.praia-info ul {
    margin-left: 15px;
}

.praia-info li {
    font-size: 14px;
    color: #bbccdd;
    line-height: 2;
}

.praia-info li::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    width: 10px;
    height: 2px;
    background: #17222D;
}

.praia-info li span {
    color: #17222D;
    font-weight: bold;
}

/* Praia sobre*/
.praia-sobre {
    padding-left: 90px;
}

.praia-sobre h2 {
    font-size: 60px;
    font-family: Alice, serif;
    line-height: 90%;
}

.praia-sobre h2 span {
    color: #1188EE;
}

.praia-sobre ul {
    padding: 60px 0 30px 0;
}

.praia-sobre ul li {
    font-size: 24px;
    font-weight: normal;
    padding: 30px 0;
    border-bottom: 2px solid #EFF4F9
}

.praia-sobre ul li:first-child {
    border-top: 2px solid #EFF4F9;
}

.praia-sobre ul li span {
    display: inline-block;
    position: relative;
    top: -10px;
}

.praia-sobre li::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 65px;
    position: relative;
    top: 15px;
}

.chinelo::before {
    background: url(../assets/sandalhas.svg) no-repeat;
}

.coco::before {
    background: url(../assets/coco.svg) no-repeat;
}


.boia::before {
    background: url(../assets/boia.svg) no-repeat;
}

.praia-sobre p {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 30px;
}

/* Aulas */

.aulas {
    background: #EFF4F9;
    padding-bottom: 60px;
}

.aulas::before {
    content: "";
    display: block;
    margin: 0 auto;
    height: 63px;
    background: url(../assets/onda.svg) no-repeat center ;
    position: relative;
    top: -25px;
}

.aulas h2 {
    font-family: "Alice", serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
}

.aulas-item {
    background: #fff;
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(187, 204, 221, 0.4), 0px 5px 5px rgba(187, 204, 221, 0.4);
}

.aulas-item::before {
    content: "";
    display: block;
    margin: -55px auto 0 auto;
    background: url(../assets/surfbot-icon.svg);
    height: 40px;
}

.infantil::before {
    width: 21px;
}

.adulto::before {
    width: 43px;
}
.profissional::before {
    width: 66px;
}

.aulas-item h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.aulas ul {
    padding: 20px 0;
    border-top: 2px solid #EFF4F9;
    border-bottom: 2px solid #EFF4F9;
    margin-bottom: 15px;
}

.aulas-item li {
    font-size: 0.875em;
    line-height: 2.125em;
}

.aulas-item li::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #ff3726;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
}

.aulas-item p {
    font-size: 0.875em;
    color: #1188EE;
    font-weight: bold;
    margin-bottom: 30px;
}

.aulas-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    background: #445566;
    padding: 10px 15px;
    display: block;
    color: #fff;
    border-radius: 5px;
}

.aulas-item a::after{
    content: "";
    display: inline-block;
    background: url(../assets/seta.svg) no-repeat center center;
    width: 14.5px;
    height: 16px;
    float: right;
    border-radius: 5px;
}

.aulas > p {
    font-size: 1.125em;
    text-align: center;
    max-width: 419px;
    margin: 0 auto;
}

.aulas .red {
    color: #ff3726;
    font-weight: bold;
}

.aulas .underline::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 90px;
    position: absolute;
    background: #ff3726;
    margin-top: 20px;
}

/* Quote */
.quote {
    background: url(../assets/foto-quote.jpg);
    background-size: cover;
    padding: 120px 0;
}

.quote p {
    font-family: Alice, serif;
    font-size: 4.5em;
    color: #fff;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}

.quote cite {
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: 1.125em;
    font-style: normal;
}

/* Contato */
.contato {
    padding: 60px 0;
}

.contato h2 {
    font-family: Alice, serif;
    font-size: 4.5em;
    font-weight: normal;
    text-align: center;
}

.contato form {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #EFF4F9;
}

.contato label {
    font-family: Nunito, sans-serif;
    font-size: 1.125em;
    color: #17222D;
}

.contato input, .contato textarea {
    font-family: Nunito, sans-serif;
    font-size: 1.125em;
    color: #17222D;
    margin-bottom: 5px;
    background: #EFF4F9;
    box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    max-width: 470px;
}

.contato button {
    max-width: 250px;
    padding: 10px 15px;
    background: #445566;
    box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125em;
    margin-top: 30px;
}

.contato button img {
    float: right;
}

/* Dados */
.dados {
    background: url(../assets/bg-icones.svg)
}

.dados h3 {
    font-size: 1.125em;
    font-weight: bold;
    color: #445566;
}

.dados ul {
    border-bottom: 2px solid #EFF4F9;
    padding: 15px 0;
    max-width: 270px;
}

.dados ul:last-child {
    border: none
}

.dados a {
    font-size: 1.125em;
    font-weight: bold;
    color: #445566;
    text-transform: uppercase;
}

.dados a::after {
    content: "";
    display: inline-block;
    background: url(../assets/seta.svg);
    width: 16px;
    height: 18px;
    margin-left: 10px;
}

.horario::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    border: 2px solid #11dd44;
    border-radius: 50%;
    margin: 0 5px 3px -11px;
}

/* Footer */
footer {
    padding: 30px 0;
    color: #fff;
    background: #1188ee;
}

footer p {
    margin-top: 15px;
}

footer a img {
    float: right;
    color: #fff;
}

/* Matricula Plano*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
